<html>
	<head>
	</head>
		<ul>
			<% for(var i = 0; i < parametroProdotti.length; i++)%>
			<li><%= parametroProdotti.mieiProdotti[i].getNome()%> - <%= parametroProdotti.mieiProdotti[i].getNumero()%></li>
			<%}%>
		</ul>
	</body>
</html>