<html>
	<body>
		<form action="/prenotazione" method="GET">
			Nome Evento:<br>
			<input type="text" name="nomeEvento">
			Numero persone:<br>
			<input type="number" name="numeroPersone">
			
			<input type="submit" value="Invia"> 				
		</form>
	</body>
</html>